
<div id="orders-breakdown">
  <div class="row">
    <div>
      <label>Total Orders</label>
      <%= @orders.length %>
    </div>
    <div>
      <label>Paid</label>
      <%= @paid.length %>
    </div>
    <div>
      <label>Free</label>
      <%= @free.length %>
    </div>
  </div>

  <div class="row">
    <div>
      <label>Total Revenue</label>
      <%= "$%.2f" % [@orders.sum(:amount)] %>
    </div>

    <div>
      <label>Net to Author</label>
      <%= "$%.2f" % [@orders.author_total] %>
    </div>

    <div>
      <label>Total Donations</label>
      <%= "$%.2f" % [@orders.donation_total] %>
    </div>

    <div>
      <label>Stripe Fees</label>
      <%= "$%.2f" % @orders.fees_total %>
    </div>
  </div>

  <div class="row">
    <div>
      <label>Average Price Paid</label>
      <%= "$%.2f" % @paid.avg(:amount) %>
    </div>

    <div>
      <label>Average Donation</label>
      <%= "$%.2f" % [@paid.donation_total / @paid.length] %>
    </div>

    <div>
      <label>Biggest Purchase</label>
      <%= "$%.2f" % @paid.max(:amount) %>
    </div>
  </div>

  <div class="row">
    <div>
      <label>Purchased with Stripe</label>
      <%= @paid.count(:stripe_id.not => nil ) %>
    </div>

    <div>
      <label>Purchased with Paypal</label>
      <%= @paid.count(:paypal_token.not => nil) %>
    </div>
  </div>

  <div class="row">
    <h4>Amount to be Donated: <%= "$%.2f" % @undonated.donation_total %></h4>
    <form action="/admin/mark-paid" method="post">
      <input type="submit" class="submit-button" value="Mark As Donated">
    </form>
  </div>
</div>


<a href="/admin/orders.csv">Download orders as CSV</a>
<table id="order-table">
  <thead>
    <th>To Author</th>
    <th>Donation</th>
    <th>Order Email</th>
    <th>Date</th>
    <th>Stripe or Paypal</th>
  </thead>
  <tbody>
<% @orders.each do |order| %>
  <tr>
    <td><%= "$%.2f" % order.amount %></td>
    <td><%= "$%.2f" % order.donation_amount %></td>
    <td><%= order.email %></td>
    <td><%= order.created_at %></td>
    <% if order.amount > 0 %>
    <td><%= order.stripe_id ? "Stripe" : "Paypal" %></td>
    <% else %>
    <td>-</td>
    <% end %>
  </tr>
<% end %>
</tbody>
<tfoot>

</tfoot>
</table>