<form id="new-order" method="post" action="/purchase">
  <div id="payment-errors"></div>
  <input type="hidden" id="order-stripe-card-token" name="order[token]">

  <div class="field">
    <label for="order-amount">Amount</label>
    <div id="amount">$<%= @amount %></div>
    <input type=hidden name=order[amount] id=order-email value=<%= @amount %>>
  </div>

  <div class="field">
    <label for="order-email">Email Address</label>
    <input type="text" name="order[email]" id="order-email" value='sklise@gmail.com'>
  </div>

  <div class="field">
    <label for="order-first-name">First Name</label>
    <input type="text" name="order[first_name]" id="order-first-name" value="steve">
  </div>

  <div class="field">
    <label for="order-last-name">Last Name</label>
    <input type="text" name="order[last_name]" id="order-last-name" value="klise">
  </div>

  <div class="field">
    <label for="card-number">Credit Card Number</label>
    <input type="text" size=20 autocomplete=off id="card-number" value="4242424242424242">
  </div>

  <div class="field">
    <label for="card-code">Security Code on Card (CVV)</label>
    <input type="text" size=4 autocomplete=off id="card-code" value="123">
  </div>

  <div class="field">
    <label for="card-month">Card Expiration</label>
    <select id="card-month">
      <option value="0">MONTH</option>
      <% 12.times do |i| %>
      <option value="<%= i+1 %>"><%= i+1 %></option>
      <% end %>
    </select>
    <select id="card-year">
      <% year = Date.today.year %>
      <% 16.times do |i| %>
      <option value="<%= year + i %>"><%= year + i %></option>
      <% end %>
    </select>
  </div>

  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>

  <button type="submit" class="submit-button">Submit</button>
</form>